<!-- <!doctype html>
<html>
<head>
<title></title>
</head>
<link href="./styles/hello.css" rel="stylesheet">
<body>
  {{#> layout }}
  <div class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <div class="body"> -->
    {{{body}}}
  <!-- </div>
<div id="footer">
  <p></b>{{siteName}}</b></p>
  <p>{{address}}</p>
</div>
{{/layout}}
</body>
</html> -->
