<link rel="stylesheet" href="./welcome.css">
   <div id="Welcome-img">
     <img src="https://lh3.googleusercontent.com/DYYEqFXfSnUoppQik2VU5nyPXIL3r_wyEA3wdsZaTk3dS_ggYbvuJDKqnYZKryn7I7Dj81KiZGHvG7s9T0pfLeJ2GjE4B51GVjZ5KLruZhohnM3VNIVU0fgThxIaTrh0_kv57Lofop6yG8v_vB2jd0LYfvr3iHRX6mK-uYChVgECgLloUpSk_Bjr0Sg1Nw5EoELGey-TVxU9ssQy66WUrPiUC8giCyztahweLt8jW6DkWmDZ1wddJ2LdubNMXlCDG4Yous7OFP9IpncNJxRqe48BRVg7qc0Qa9UsmKzXIXjnmDASXhMTDZXcaOSnUgU7rOnL5T_NNHltMXjgVkrh6fCIxC3Pz_keYm2SP20Bk_hsV-J2_gh2dLlTNVFBStJ-3Wv_oJ4jbYjqkay__l2wR_MI3rof2Etsfs5v1giGdYPFrLjmjRwD1nobbr1qVnlVZGFvjxVwGNb06T1DRlJJV8Ifqw5FOeARv-4vUngcQH6R1ehJfcn5hx2Ig9MOQKszUAq6qM8rtXgDTWM7uH6Fn04unWyqaF3Ech9tloJsnsWJzjY-Q8e_PbQ4vO0CIP_aOUhZZaalvv3BV8AJQn7LFD30WI8KcpyRZdOFXzlzuy9AV7ji2FE=w850-h1279-no" width="40%" height="auto">
   </div>
    <h2>Welcome to GenerEight, site GenerEightor.</h2>
    <p>This site was designed to make web visibility more accessible. Fill in the input boxes and 'Submit' and your site will be generated, at which point, you must select the styling (CSS) that you would like to apply.</p>
    <div id="form-div">
      <form ref="genereightor" enctype='application/json' action="/submit" method="post">
        <p><b>Name of Site</b></p>
        <input name='siteName' value='SiteName'>
        <p><b>Site Admin/Contact</b></p>
        <input name='admin' value='Admin'>
        <p><b>Admin Email</b></p>
        <input name='email' value='email@youremail.com'>
        <p><b>Address</b></p>
        <input name='address' value='123 John Doe Blvd.'>
        <p><b>About/Mission Statement</b></p>
        <input name='mission' value='We strive to...'>
        <p><b>Header Img Url</b></p>
        <input name='headerImg' value='http://yoursite.com/image.jpg'>
        <br></br>
        <button type="post" name="button">Submit</button>
      </form>
    </div>
